@model auth.Models.RegisterViewModel
@{
    ViewBag.Title = "Kaydol";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign Up Form by Colorlib</title>

        <!-- Font Icon -->
        <link rel="stylesheet" href="/fontssign/material-icon/css/material-design-iconic-font.min.css">

        <!-- Main css -->
        <link rel="stylesheet" href="/css/stylesign.css">
    </head>
    <body>
        <div class="main">
            <section class="signup">
                <div class="container">
                    <div class="signup-content">
                        <div class="signup-form">
                            <h2 class="form-title">Kayıt Ol</h2>

                            @Html.AntiForgeryToken()
                            <h4>Yeni hesap oluşturun.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @*@Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "zmdi zmdi-account material-icons-name", placeholder = "Adınız" } })
                                    @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })*@

                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Ad" />
                            </div>
                            <div class="form-group">
                                @*@class = "form-control"*@
                                @*@Html.EditorFor(model => model.SoyAd, new { htmlAttributes = new { @class = "zmdi zmdi-account material-icons-name", placeholder = "Soy Adınız" } })*@
                                @*@Html.ValidationMessageFor(model => model.SoyAd, "", new { @class = "text-danger" })*@


                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>


                                <input type="text" name="name" id="name" placeholder="SoyAd" />
                            </div>
                            <div class="form-group">
                                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "zmdi zmdi-email", placeholder = "Email" } })

                                @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
                            </div>
                            <div class="form-group">
                                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
                                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "zmdi zmdi-lock", placeholder = "Şifreniz", type = "password" } })

                            </div>
                            <div class="form-group">
                                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>

                                @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "zmdi zmdi-lock", placeholder = "Şifrenizi tekrar girin", type = "password" } })
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term h6"><span><span></span></span>Kullanıcı koşullarını kabul ediyorum.</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit h6" value="Kaydol" />
                            </div>
                            @*<div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-default" value="Kaydol" />
                                    </div>
                                </div>*@
                        </div>
                        <div class="signup-image">
                            @*signup-image.jpg*@
                            <figure><img src="~/img/reservation.png" alt="sing up image" style="border-radius:50px"></figure>
                            @Html.ActionLink("Zaten hesabım var!", "Login", "Account", htmlAttributes: new { @class = "form - submit h6", style = "margin-left:130px; font-size:20px;" })
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- JS -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/js/mainsign.js"></script>
    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

<div>
    @Html.ActionLink("Back to List", "Home")
</div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
