@model IEnumerable<auth.Models.Login>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.userPersonalName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.userPersonalName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.token }) |
            @Html.ActionLink("Details", "Details", new { id=item.token }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.token })
        </td>
    </tr>
}

</table>
